*{

  margin:0;

  padding:0;

  box-sizing:border-box;

  font-family:
  Arial,
  sans-serif;

}

body{

  min-height:100vh;

  display:flex;

  justify-content:center;

  align-items:center;

  padding:20px;

  background:
  url('fondo.png');

  background-size:cover;

  background-position:center;

  background-attachment:fixed;

  overflow-x:hidden;

  position:relative;

}

.overlay{

  position:fixed;

  inset:0;

  background:
  linear-gradient(
    rgba(0,0,0,.82),
    rgba(0,0,0,.85)
  );

  z-index:0;

}

.container{

  width:100%;

  max-width:450px;

  position:relative;

  z-index:2;

  background:
rgba(20,20,20,.72);

  backdrop-filter:blur(12px);

  border-radius:30px;

  padding:25px;

  border:
  1px solid rgba(255,255,255,.08);

  box-shadow:
  0 15px 40px rgba(0,0,0,.45);

}

.logo{

  width:120px;

  display:block;

  margin:auto;

  margin-bottom:10px;

  filter:
  drop-shadow(
    0 0 25px rgba(255,200,0,.4)
  );

}

h1{

  text-align:center;

  color:white;

  font-size:42px;

}

.slogan{

  text-align:center;

  color:white;

  margin-top:5px;

  margin-bottom:25px;

}

input{

  width:100%;

  padding:16px;

  margin-bottom:15px;

  border:none;

  border-radius:18px;

  background:
  rgba(255,255,255,.08);

  color:white;

  font-size:15px;

  outline:none;

}

input::placeholder{

  color:#d1d5db;

}

input:focus{

  border:
  1px solid #facc15;

  box-shadow:
  0 0 15px rgba(250,204,21,.35);

}

.btn{

  width:100%;

  padding:17px;

  border:none;

  border-radius:22px;

  background:
  linear-gradient(
    135deg,
    #facc15,
    #f59e0b
  );

  color:black;

  font-size:17px;

  font-weight:700;

  cursor:pointer;

  transition:.3s;

  margin-top:5px;

}

.btn:hover{

  transform:translateY(-2px);

}

#map{

  width:100%;

  height:300px;

  margin-top:20px;

  border-radius:25px;

  overflow:hidden;

  border:
  2px solid rgba(255,255,255,.08);

}